.slider-container {
  background-color: #333;
  float:right;
  margin-bottom: 0;
  margin-top: 0;
  border: none;
  outline: none;
  color: white;
  padding: 20px 20px;
  margin: 0;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-size: 16px;
    
}

.slider-container h2 {
  background-color: #333;
  border: none;
  outline: none;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  margin: 0;
  font-family: inherit; /* Important for vertical align on mobile phones */
  font-size: 16px;
}

.slider {
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
